@import '../../../assets/styles/theme.sass'

.cmp-carousel
    width: 100%

    .carousel-buttons
        display: table
        margin: 30px auto 0 auto

        .carousel-button
            cursor: pointer
            background-color: rgba(255,255,255,.5)
            border-bottom-left-radius: 74px * 2
            border-top-left-radius: 74px * 2
            border-width: 0
            display: inline-block
            height: 74px * 2
            margin: -88px 0 0 0
            top: 50%
            width: 74px
            z-index: 1

            .bt-prev
                @extend .carousel-button
                webkit-transform: rotate(180deg)
                -moz-transform: rotate(180deg)
                -o-transform: rotate(180deg)
                -ms-transform: rotate(180deg)
                transform: rotate(180deg)
                position: absolute
                left: 0

            .bt-next
                @extend .carousel-button
                position: absolute
                right: 0

    .wrapper
        background-color: $color-carousel-bg
        padding: 40px 30px 40px 30px 

        .photo-inline
            display: none
            padding: 0 10px
            position: relative

            .photo-button
                cursor: pointer
                background-color: rgba(255,255,255,.5)
                border-bottom-left-radius: 74px * 2
                border-top-left-radius: 74px * 2
                border-width: 0
                display: inline-block
                height: 74px * 2
                margin: -88px 0 0 0
                top: 50%
                width: 74px
                z-index: 1
                .photo-button-arrow
                    fill: $color-carousel-bt-arrow
                    margin-left: 20px
                    pointer-events: none

            .bt-prev
                @extend .photo-button
                webkit-transform: rotate(180deg)
                -moz-transform: rotate(180deg)
                -o-transform: rotate(180deg)
                -ms-transform: rotate(180deg)
                transform: rotate(180deg)
                position: absolute
                left: 0

            .bt-next
                @extend .photo-button
                position: absolute
                right: 0   

        .photo-inline.mobile
            display: inline-block
        .photo-inline.tablet
            display: none
        .photo-inline.desktop
            display: none      

    @media screen and (min-width: 768px)
        .wrapper
            .photo-inline.tablet
                display: inline-block  

    @media screen and (min-width: 1024px)
        .wrapper
            .photo-inline.desktop
                display: inline-block  

