<div class="cmp-carousel">
  <div class="wrapper" *ngIf="service.photos">

      <div class="carousel-mask">
        <div class="carousel-row" [ngStyle]="{'left': carouselPosition}">
          <div *ngFor="let photo of service.photos" class="photo-wrapper">
            <app-carousel-photo [data]="photo"></app-carousel-photo>
          </div>
        </div>
      </div>

      <div class="carousel-buttons">
        <button class="btn-prev" (click)="prevPhoto()">
            <img class="btn-arrow" src="./assets/images/arrow.svg">
            <span class="btn-text">Prev</span>
        </button>
        <button class="btn-next" (click)="nextPhoto()">
            <img class="btn-arrow" src="./assets/images/arrow.svg">
            <span class="btn-text">Next</span>
        </button>
      </div>

  </div>
</div>
